* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    width: 100%;
    font-size: 19px;
}

.hero {
height: 40vh;
background: url(images/woman.jpg);
background-repeat: no-repeat;
background-size: cover;
object-fit: cover;
text-align: center;
width: 100%;
display: flex;
position: relative;
}



.hero img {
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
}
.header {
width: 80%;
margin: auto;
color: white;
font-size: 40px;
text-shadow: 6px -2px 2px #36373562;
}

.submit {
     width: 120px;
     height: 40px;
     background: linear-gradient(to bottom,#153d00, #44ff00);
     color: white;
     border: none;
     border-radius: 40px;
     margin: 0 auto;
     display: block;
}

.submit:hover {
    background: linear-gradient(to bottom, #44ff00, #153d00);

}

.info {
    position: relative;
}

.info > img {
    position: absolute;  
    top: 0;
    left: 0;
    width: 100%;
    filter: brightness(20%);
    z-index: -200;
    height: max-content;
}



.welcome {
    text-align: center;
    font-weight: 700;
    width: 90%;
    margin: 10px auto;
}

label:not(input[type=checkbox] ~ label) {
    display: block;
    padding-bottom: 5px;
}

#signup {
    padding: 20px;
    width: 100%;
}

 .form {
    width: 80%;
    margin: 40px auto;
}    

label[for=travellingWithOthers] ~ input[type=number] {
    width: max-content;
    background-color: transparent;
        border: none;
        outline: none;
        border-bottom: 1px solid rgb(0, 112, 7);
}


.form input[type=tel], input[type=time], input[type=date], input[type=email], input[type=text] {
    padding: 13px;
    width: 80vw;
    outline: none;
    border: none;
    background: #7e7e7e66;
    transition: 0.8s;
    }

    .form input:focus {
        background-color: transparent;
        border: none;
        border-bottom: 1px solid rgb(0, 112, 7);
    }

    label[for=travellingWithOthers] {
        display: inline;
    }



    .error {
        color: rgb(9, 136, 0);
        text-align: left;
        margin-bottom: 20px;
        display: none;
    }
    

    
h2:not(.hero h2) {
    margin-bottom: 30px;
    color:rgb(9, 136, 0);
}

hr {
    background-color: rgb(9, 136, 0);
    width: 90%;
    height: 4px;
    border-radius: 4px;
    margin: 40px auto;
    box-shadow: 0px 0px 20px #2f8700d6;
    border: none;
}

.down {
    animation: expand 4s ease-in-out 0s 1 normal both;
    max-height: 100%;
}
.drop {
    transition: max-height 2s ease-in-out;
    overflow: hidden;
    max-height: 0px;
}


@keyframes expand {
    0% {
        max-height: 0%
    }

    50% {
        max-height: 40%;
    }

    100% {
        max-height: 100%
    }
}